div.experienceFacility {
  display: flex;
  justify-content: space-between;
}

div.experienceFacility ul {
  padding-left: 25px;
  margin: 0;
}

div.experienceFacility li:nth-child(2) {
  list-style: none;
}

ul.responsibilities {
  margin-block: 0;
}

li.responsibility {
  list-style: circle;
}

div.experienceRightPart {
  text-align: right;
}
