section.personalSection {
  display: flex;
  justify-content: space-between;
}

h3.personalSectionName {
  margin-top: 0;
}

h4.personalSectionOtherInfo {
  font-weight: normal;
  margin: 0;
}

div.personalSectionRightPart {
  text-align: right;
}
