form.educationForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form.educationForm h2 {
  text-align: center;
}

button.deleteEducation {
  background-color: lightpink;
}

button.deleteEducation:hover {
  background-color: lightcoral;
}
