div.experienceForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

ul.responsibilitiesListForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

li.responsibilitiesForm {
  list-style: none;
}

button.addResponsibility {
  background-color: lightblue;
}

button.addResponsibility:hover {
  background-color: lightsteelblue;
}
