div.experienceForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.responsibilitiesListForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

li.responsibilitiesForm {
  list-style: none;
}
