div.inputForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.inputForm label {
  font-weight: bold;
  text-align: center;
}

div.inputForm input,
div.inputForm textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul.educationListForm,
ul.experienceListForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

li.educationForm,
li.experienceForm {
  list-style: none;
}

button.addEducation,
button.addExperience {
  background-color: lightblue;
}

button.addEducation:hover,
button.addExperience:hover {
  background-color: lightsteelblue;
}
