div.responsibilityForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

button.deleteResponsibility {
  background-color: lightpink;
}

button.deleteResponsibility:hover {
  background-color: lightcoral;
}
